/*
  This one CSS file is imported into both index.html AND hosono.html so you need to be careful that it 
  works for both.
*/

*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}

:root{
  /* first two colours come from Kuroi's Manga Pallete Palette */
  /* https://lospec.com/palette-list/manga-pallete */
  --col-01:#270634;
  --col-02:#efc0e5;
  --col-03:#5252ff;
  --col-04:#ff00a2;
  font-size: 16px;
  /* scroll behaviour makes the <a> links to ids scroll to position over time rather than immediately */
  scroll-behavior: smooth;
}

body{
  padding: 1rem;
  background-color: var(--col-02);
  color: var(--col-01);
  transition: 10s;
}


div:hover {
  width: 300px;
  height: 300px;
}

nav {
  margin-top: 1rem;
}

nav li{
  font-size: 1rem;
}

section{
  margin-bottom: 2rem;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}

p{
  font-size: 1rem;
  margin-top: 1rem;
}

figcaption{
  width: fit-content;
}

dl ul{
  margin-bottom: 0;
}

li{
  font-size: 1rem;
}

dd{
  padding-left: 60px;
}

li ul{
  padding-left: 40px;
}

.img-wrapper{
  width: 100%;
  margin-bottom: 1.5rem;
}

.img-figure{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-img{
  width: 80%;
}

.res-columns{
  column-width: 25rem;
}

#mode-button{
  float: right;
  /* note the use of position: sticky to keep the button on the page even with scrolling */
  position: sticky;
  top: 1rem;
}

/* code for loading page */

#load-body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* changing button to look like a link */
#load-link{
  line-height: 1rem;
  background-color: var(--col-01);
  border: 0;
  cursor: pointer;
  color: var(--col-04);
  font-size: 30px;
}
/* throbber while page is fake loading */
#load-throbber{
  /* the width, height and background-color give it a shape on the page without any content inside - 
  these value are arbitrary, please change to create your own design  */
  width: 10%;
  height: 5rem;
  background-color: transparent;
  /* we also initially set display to none so it only shows once the link is clicked */
  display: none;
  cursor: wait;
}

#load-throbber-1:hover{
  background-color: var(--col-04);
  color: var(--col-02);
  transition: background-color 1s, color 1s;
}


/* Media Queries */

/* medium devices 600 - 992 */
@media only screen and (min-width: 600px) {
  :root{
    font-size: 20px;
  }
  
  .img-wrapper{
    width: 75%;
    margin: 1.5rem auto;
  }

}

/* medium devices 992 + */
@media only screen and (min-width: 992px) {
  :root{
    font-size: 24px;
  }

  .img-wrapper{
    max-width: fit-content;
    float: right;
    margin: 1.5rem;
  }

}

@media (prefers-reduced-motion) {
  :root{
    scroll-behavior: auto;
  }
}





#load-throbber{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.load-throbberExample{
  height: 8rem;
  background-color: var(--col-03);
  flex-grow: 1;
  animation: cyclecolour 2s infinite;
}

@keyframes cycleColour {
  0% {
    background-color: rgb(239, 34, 246);
  }
  20% {
    background-color: greenyellow;
  }
  100% {
  background-color: crimson;
  }
}


#load-throbber-example-1{ display: none;
  animation: cycleColour 5s infinite ease-in;
}

#load-throbber-example-2{ display: none;
  animation: cycleColour 5s infinite ease-out;
}

#load-throbber-example-3{ display: none;
  animation: cycleColour 5s infinite ease-in-out;
}

#load-throbber-example-4{ display: none;
  animation: cycleColour 5s infinite linear;
}

#load-throbber-example-5{ display: none;
  animation: cycleColour 5s infinite ease-in reverse;
}

#load-throbber-example-6{display: none;
  animation: cycleColour 5s infinite ease-in alternate;
} 


#mode-button{
 cursor: pointer;
 font-size: 30px;
 background-color: var(--col-01);
 color: var(--col-04)
}


.mode-button{
  font-size: 30px;
  transition-property: font-size;
  transition-duration: 4s;
}

.mode-button:hover {
  font-size: 36px;
}

.switchModes:active {
  color: red;
}

